{% load static %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% block head %}
    <link type="text/css" rel="stylesheet" media="all" href="{% get_static_prefix %}base.css" />
    {% endblock %}
</head>
<body>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    <!--<div class="clear"></div>-->
    <div class="nav">
        <div class="frontpage"><a href="{% url "frontpage" %}">Frontpage</a></div>
        <div class="request-log"><a href="{% url "request_log_list" %}">Request log</a></div>
        {% if user.is_staff %}<div class="edit-user-profile"><a href="{% url "forty_two_test_stilgar.apps.user_profile.views.edit_user_profile" %}">Edit user profile</a></div>{% endif %}
    </div>
    {% endblock %}
</body>
</html>
