{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Request log" %} | {{ block.super }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="{% get_static_prefix %}request_logger.css" />
{% endblock %}

{% block content %}
<h1>{% trans "Request log" %}</h1>
<table class="request-log-list" cellspacing="0">
    <tbody>
    {% for request_record in request_record_list %}
        <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }}">
            <td class="id"><a href="{{ request_record.id }}">{{ request_record.id }}</a></td>
            <td class="time">{{ request_record.time }}</td>
            <td class="path"><a href="{{ request_record.url }}">{{ request_record.path|truncatechars:200 }}</a></td>
            <td class="host">{{ request_record.host }}</td>
            <td class="method">{{ request_record.method }}</td>
            <td class="referer">{{ request_record.referer|default_if_none:"" }}</td>
            <td class="ip">{{ request_record.ip }}</td>
            <td class="user">
                {% if user.is_staff %}<a href="/admin/auth/user/{{ request_record.user.id }}/">{% endif %}
                    {{ request_record.user|default_if_none:"" }}
                {% if user.is_staff %}</a>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <thead>
        <tr class="head">
            <th class="id">{% trans "ID" %}</th>
            <th class="time">{% trans "Time" %}</th>
            <th class="path">{% trans "Path" %}</th>
            <th class="host">{% trans "Host" %}</th>
            <th class="method">{% trans "Method" %}</th>
            <th class="referer">{% trans "Referrer" %}</th>
            <th class="ip">{% trans "IP" %}</th>
            <th class="user">{% trans "User" %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr class="foot">
            <th class="id">{% trans "ID" %}</th>
            <th class="time">{% trans "Time" %}</th>
            <th class="path">{% trans "Path" %}</th>
            <th class="host">{% trans "Host" %}</th>
            <th class="method">{% trans "Method" %}</th>
            <th class="referer">{% trans "Referrer" %}</th>
            <th class="ip">{% trans "IP" %}</th>
            <th class="user">{% trans "User" %}</th>
        </tr>
    </tfoot>
</table>
{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.number != 1 %}
            <a class="first" href="?page=1">First</a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a class="previous" href="">Prev</a>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <span class="page page-{{ page }}">{{ page }}</span>
            {% else %}
                <a class="page page-{{ page }}" href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="next" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
        {% if page_obj.number != page_obj.num_pages %}
            <a class="last" href="?page={{ paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
