{% extends "base.html" %}
{% load url from future %}
{% load static %}
{% load i18n %}
{% load mathtag %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
    <link type="text/css" rel="stylesheet" media="all" href="{% get_static_prefix %}user_profile/user_profile.css" />
{% endblock %}

{% block content %}
<div class="profile-edit">
    <p
        {% if not error_note %}style="display: none;"{% endif %}
        id="error-note"
    >
        {{ error_note }}
    </p>
    <form action="" method="post" id="profile-edit-form" enctype="multipart/form-data">
        <div class="field-column" id="field-column-1">
        {% math form.visible_fields|length 2 2 "($1-$2) / $3" as half_fields_count %}
        {% for field in form.visible_fields %}
            {% if forloop.counter0 == half_fields_count %}
                </div>
                <div class="field-column" id="field-column-2">
            {% endif %}
                <div class="field-wrapper" id="field-{{ field.html_name }}-wrapper">
                    <div class="field-error">{{ field.errors }}</div>
                    <label for="id_{{ field.html_name }}">{{ field.label }}:</label>
                    <span class="field">{{ field }}</span>
                </div>
        {% endfor %}
        </div>
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% if persistent_image_clear %}
            <input type="hidden" name="image-clear" value="{{ persistent_image_clear }}" />
        {% endif %}
        <div class="submit-block">
            <input type="submit" name="preview" value="{% trans "Preview" %}" />
            <input type="submit" name="save" value="{% trans "Save" %}" />
            <a href="{% url "forty_two_test_stilgar.apps.user_profile.views.user_profile" %}">Cancel</a>
        </div>
        {% csrf_token %}
    </form>
    <div id="image-preview"{% if not image_preview %} style="display: none;"{% endif %}>
        <h5>Image preview</h5>
        <div class="image-wrapper">
            <img src="{% if image_preview %}{{ MEDIA_URL }}{{ image_preview }}{% endif %}" alt="profile image" />
        </div>
    </div>
</div>
{% endblock %}
