{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load simple_thumbnail %}
{% load admin_change_link %}
{% load url from future %}

{% block title %}{% trans "Frontpage" %} | {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" media="all" href="{% get_static_prefix %}user_profile/user_profile.css" />
{% endblock %}

{% block content %}
<h1>Stilgar's profile</h1>
<div class="profile">
    {% if user.is_staff or user.is_anonymous %}
        <div class="edit-block"><div class="edit-block-container">
            {% if user.is_staff %}
                <a href="{% url 'forty_two_test_stilgar.apps.user_profile.views.edit_user_profile' %}">Edit</a>
                <a href="{% admin_change_link profile %}">(admin)</a>
            {% else %}
                <a href="{% url "login" %}">Log in</a>
            {% endif %}
        </div></div>
    {% endif %}
    <div class="about">
        <div><h5>{% trans "Name" %}</h5> {{ profile.first_name }}</div>
        <div><h5>{% trans "Last name" %}</h5> {{ profile.last_name }}</div>
        <div><h5>{% trans "Date of birth" %}</h5> {{ profile.date_of_birth }}</div>
        {% if profile.image %}
        <div class="photo">
            <h5>{% trans "Photo" %}</h5>
            <a href="{{ MEDIA_URL }}{{ profile.image }}">
                <img src="{{ MEDIA_URL }}{{ profile.image.name|thumbnail:'500x1000' }}" alt="profile photo" />
            </a>
        </div>
        {% endif %}
    </div>
    <div class="contacts">
        <h2>{% trans "Contacts" %}</h2>
        <div><h5>{% trans "E-mail" %}</h5> {{ profile.email }}</div>
        <div><h5>{% trans "Jabber" %}</h5> {{ profile.jabber }}</div>
        <div><h5>{% trans "Skype" %}</h5> {{ profile.skype }}</div>
        <div class="other-contacts"><h5>{% trans "Other contacts" %}</h5> {{ profile.contacts|linebreaksbr }}</div>
        <div class="bio"><h5>{% trans "Bio" %}</h5> {{ profile.bio|linebreaks }}</div>
    </div>
</div>
{% endblock %}
