.content {
    overflow: hidden;
}

.nav {
    clear: both;
    margin: 0 20px 50px 20px;
    padding: 10px;
    border-top: 1px solid black;
}

    .nav .account-links,
    .nav .staff-links {
        margin: 10px 0;
    }

    .nav .menu-link:before {
        content: ">";
    }

        .nav .menu-link a {
            margin-left: 5px;
        }
