/* Profile page. */
.profile {
    overflow: hidden;
}

    .profile > * {
        float: left;
        max-width: 40%;
        margin-left: 5%;
    }

    .profile > *:nth-child(2n+1) {
        clear: left;
    }

        .profile * div {
            margin: 1em 0;
        }

        .profile * div:first-of-type {
            margin-top: 0;
        }

            .profile h5 {
                display: inline;
                vertical-align: top;
            }

            .profile h5:after {
                content: ":";
            }

            .profile h2:first-child {
                margin-top: 0;
            }

            .profile .photo h5,
            .profile .bio h5,
            .profile .other-contacts h5 {
                display: block;
                margin: 0;
            }

            .profile .bio p:first-of-type {
                margin-top: 0;
            }

            .profile .photo img {
                max-width: 100%;
            }
/* End of Profile page. */

/* Edit profile page. */
.profile-edit {
}

    .profile-edit #error-note,
    .profile-edit .field-error {
        color: red;
    }

    .profile-edit form#profile-edit-form {
        float: left;
        width: 1000px;
        margin-bottom: 50px;
    }

        .profile-edit form#profile-edit-form .field-column {
            float: left;
            width: 480px;
            margin-bottom: 20px;
        }

        .profile-edit form#profile-edit-form #field-column-2 {
            margin-left: 20px;
        }

        .profile-edit form#profile-edit-form .field-wrapper {
            float: right;
            clear: right;
            margin: 5px 0;
        }

            .profile-edit form#profile-edit-form .field-wrapper label {
                padding-right: 10px;
                vertical-align: top;
            }

            .profile-edit form#profile-edit-form .field-wrapper input[type="text"],
            .profile-edit form#profile-edit-form .field-wrapper textarea {
                width: 350px;
            }

            .profile-edit form#profile-edit-form .field-wrapper #id_bio {
                height: 300px;
            }

            .profile-edit form#profile-edit-form .field-wrapper #id_contacts {
                height: 200px;
            }

        .profile-edit form#profile-edit-form #field-image-wrapper {
        }

            .profile-edit form#profile-edit-form #field-image-wrapper label[for="id_image"] {
                float: left;
            }

            .profile-edit form#profile-edit-form #field-image-wrapper .field {
                float: right;
                width: 343px;
                padding: 5px;
                border: 1px solid #AAAAAA;
            }

        .profile-edit form#profile-edit-form .submit-block {
            clear: both;
        }

            .profile-edit form#profile-edit-form .submit-block #unsaved-changes {
                color: red;
            }

    .profile-edit #image-preview {
        float: left;
        width: 620px;
        margin-bottom: 50px;
        margin-left: 20px;
        padding: 0 0 10px 0;
        text-align: center;
        border: 3px solid #AAAAAA;
    }

        .profile-edit #image-preview h5 {
            margin: 0 0 10px 0;
            padding: 10px 30px;
            font-size: 200%;
            border-bottom: 3px solid #AAAAAA;
        }

        .profile-edit #image-preview .image-wrapper {
            padding: 0 10px;
        }

            .profile-edit #image-preview img {
                max-width: 100%;
            }
/* End of Edit profile page. */
